<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="site-header"> <h1> Elegance</h1>
        <nav>
            <a href="{{ url_for('index') }}">Accueil</a>
            <a href="{{ url_for('shop') }}">Boutique</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('login')}}">Connexion</a>
            <a href="{{url_for('register') }}">Créer un compte</a>
        </nav>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>

    <footer>
        <p>© 2025 Elegance. Tous droits réservés.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
